<%- include('partials/header'); -%>
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Title">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Post</label>
            <textarea name='post' class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div>
        <div>
            <button class='btn btn-primary ' type="submit">Add</button>
        </div>

    </form>
    <%- include('partials/footer'); -%>