body
{
    stop-color: blue;
    background-color :#212121;
    color: white;
}
hr{
    border-style: none;
    border-top-style: dotted;
    width: 10%;
    border-color: white;
    border-width: 20px;
}
/* img{
    height: 150px;
    background-color:blue;
    border-color: white;
    border-width: 100px;
    border-radius: 100%;
} */
textarea{
    color: white;
    background-color: #212121;
}
input
{
    color: white;
    background-color: #212121;
}
.github
{
    background-color: blue;
    height: 150px;
}
.temp
{
    height: 150px;
    border-radius: 20%;
    background-color:red;
}
#github:hover
{
    border-radius: 100%;
    height: 150px
}