<%- include('partials/header'); -%>
    <% if (posts.length==0){ %>
        <h1>No posts to show</h1>
        <p>Add posts from the compose section</p>
        <% }else { %>
            <% posts.forEach(function(post){ %>
                <div>
                    <h1>
                        <%= post.title %>
                    </h1>
                    <p>
                        <%= post.post %>
                    </p>
                </div>

                <% })} %>
                    <%- include('partials/footer'); -%>