<%- include('partials/header'); -%>
    <% if (posts.length==0){ %>
        <h1>No posts to show</h1>
        <p>Add posts from the compose section</p>
        <% }else { %>
            <% for (let i=0;i<posts.length;i++){ %>
                <div>
                    <h1>
                        <%= posts[i].title %>
                    </h1>
                    <p>
                        <%= posts[i].post %>
                    </p>
                </div>
                <% }} %>
                    <%- include('partials/footer'); -%>